[project]
	description =  A port/rewrite of HdrHistogram in native python
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ahothan
[access "refs/for/refs/*"]
	read = group user/ahothan
	push = group user/ahothan
	label-Code-Review = -2..+2 group user/ahothan
	label-Verified = -1..+1 group user/ahothan
	rebase = group user/ahothan
	removeReviewer = group user/ahothan
	submit = group user/ahothan
[access "refs/heads/*"]
	read = group user/ahothan
	create = group user/ahothan
	push = +force group user/ahothan
	pushMerge = group user/ahothan
[access "refs/tags/*"]
	push = +force group user/ahothan
	pushTag = group user/ahothan
	pushSignedTag = group user/ahothan
